$background: rgba(#fff, 0.7);

.card-date {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 5px;
    font-size: 0.7em;
    background: rgba(118, 199, 3, 0.7);
}

.past-date {
    background: rgba(250, 134, 99, 0.6);
}

.card-title {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    padding: 10px;
    background: $background;
}

.twitter-share-button {
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}

.card {
    &:hover {
        .twitter-share-button {
            display: block;
        }
    }
}
